<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Welcome" parallel="false" thread-count="4">
<!--    <parameter name="browser" value="Fire"></parameter>-->
    <parameter name="url" value=""></parameter>
    <test verbose="1" name="Chrome">
        <classes>
            <class name="com.welcome.SuccessLogin"></class>
        </classes>
    </test>
    <test verbose="1" name="LogOut">
        <classes>
            <class name="com.welcome.LogOut"></class>
        </classes>
    </test>
    <test verbose="1" name="FailLogin">
        <classes>
            <class name="com.welcome.FailLogIn"></class>
        </classes>
    </test>
    <test verbose="1" name="Medecine">
        <classes>
            <class name="com.welcome.Medication"></class>
        </classes>
    </test>
</suite>
